body{
    margin: 0%;
    padding: 0%;
}
.conteudo{
 margin-right:55%;
margin-left:5%;
margin-top: 7%;
}
.navegacao{
    position: fixed;
    top:0;
    width: 100%;
    z-index:10 ;
}
.icone{
    width: 5%;
    height:5% ;
    margin-left:70px;
    
}
